.btn-rounded{
    border-radius: 12px;
}

.btn{
    margin: 50px;
    width: 160px;
    height: 160px;
    font-family:Georgia; 
    font-size: 40px;
    font-weight:600;
    color:rgb(238, 231, 231);
    display:inline-block;
}

.centered{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.large-elt{
    border-radius: 24px;
    width: 80%; 
    height:80%; 
    font-family:Georgia; 
    font-weight:600; 
    font-size:64px; 
    color:rgb(121, 26, 26); 
    background-color: rgb(100, 100, 100);
    box-shadow:8px rgba(0, 0, 0);
}

.container{
    text-align:center;
    display: inline-block;
}